{
  "extends": ["airbnb-base"],
  "plugins": ["filenames", "json-format"],
  "env": {
    "node": true
  },
  "settings": {
    "json/sort-package-json": "pro",
    "json/json-with-comments-files": [".vscode/**"]
  },
  "rules": {
    "arrow-body-style": "off",
    "arrow-parens": ["error", "as-needed"],
    "class-methods-use-this": "off",
    "curly": ["error", "all"],
    "filenames/match-regex": ["error", "^[a-z0-9_.-]+$"],
    "func-names": ["error", "never"],
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "import/no-named-as-default-member": "off",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": "off",
    "no-confusing-arrow": ["error", { "allowParens": true }],
    "no-param-reassign": ["error", { "props": false }],
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "no-use-before-define": ["error", { "functions": false }],
    "object-curly-newline": "off",
    "operator-linebreak": ["error", "after"],
    "padded-blocks": "off",
    "prefer-destructuring": "off",
    "prefer-object-spread": "off",
    "no-unused-vars": "warn",
    "space-before-function-paren": "off",
    "max-len": ["warn", { "code": 120 }],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "exports": "always-multiline",
        "functions": "only-multiline",
        "imports": "always-multiline",
        "objects": "always-multiline"
      }
    ]
  }
}
